<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<title>Document</title>
	<script src="vue.min.js"></script>
</head>
<body>
	<div id="app">
		{{ message }}
	</div>
	<div id="app2">
		<span v-bind:title="message">
			鼠标悬停几秒钟查看此处动态绑定的提示信息！
		</span>
	</div>
	<div id="app3">
		<p v-if="seen">you can see me now.</p>
	</div>
	<div id="app4">
		<ol>
			<li v-for="todo in todos">
				{{ todo.text }}
			</li>
		</ol>
	</div>
	<div id="app5">
		<p>{{ message }}</p>
		<button v-on:click="reverseMessage">reverse message</button>
	</div>
	<div id="app6">
		<p>{{ message }}</p>
		<input v-model="message">
	</div>
	<div id="app7">
		<ol>
			<todo-item 
				v-for="item in groceryList"
				v-bind:todo="item"
				v-bind:key="item.id">
			</todo-item>
		</ol>
	</div>
	<ul id="example-1">
		<li v-for="item in items">
			{{ item.message }}
		</li>
	</ul>
	<ul id="example-2">
		<li v-for="(item, index) in items">
			{{ parentMessage }} - {{ index }} - {{ item.message }}
		</li>
	</ul>
	<ul id="v-for-object" class="demo">
		<li v-for="value in object">
			{{ value }}
		</li>
	</ul>
	
	<script src="vue.js"></script>
</body>
</html>
